.todo {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-content);
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  gap: 1.6rem;
  border-bottom: 1px solid var(--color-border);
}

.todo__checkbox {
  display: flex;
  cursor: pointer;
}

.todo__checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.todo__checkmark {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-circle);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.todo__checkmark img {
  display: none;
}

.todo__checkbox input:checked + .todo__checkmark {
  background: var(--gradient);
  border: none;
}

.todo__checkbox input:checked + .todo__checkmark img {
  display: block;
}

.todo__item:has(input:checked) .todo__text {
  text-decoration: line-through;
  color: var(--color-completed);
}

.todo__text {
  color: var(--color-text);
  font-size: 1.4rem;
  text-transform: capitalize;
  flex: 1;
}

.todo__remove {
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo__remove img {
  width: 1.2rem;
  height: 1.2rem;
}

.todo__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
}

.todo__count {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
}

.todo__controls button {
  color: var(--color-text-secondary);
  background: none;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.todo__tabs {
  background-color: var(--bg-content);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  padding: 1.7rem 0;
  gap: 1.6rem;
}

.todo__tabs button {
  color: var(--color-text-secondary);
  background: none;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.todo__tab.active {
  color: var(--color-primary);
}

.todo__tabs-desktop {
  display: none;
}

@media (min-width: 768px) {
  .todo__count {
    font-size: 1.4rem;
  }

  .todo__tabs {
    background-color: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    gap: 1.6rem;
  }

  .todo__tabs-desktop {
    display: flex;
  }

  .todo__tabs-mobile {
    display: none;
  }
}
