/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* Variables */

:root {
  --color--white: #fff;
  --color-text-secondary: #9495a5;
  --border-radius: 0.5rem;
  --font-primary: "Josefin Sans", sans-serif;
}

[data-theme="light"] {
  --color-text: #494c6b;
  --color-done: #c8cbe7;
  --color-circle: #979797;
  --bg-main: #fafafa;
  --bg-content: #fff;
  --box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  --gradient: linear-gradient(135deg, #55ddff 0%, #c058f3, 100%);
}

[data-theme="dark"] {
  --color-text: #e3e4f1;
  --color-done: #4d5067;
  --color-circle: #393a4b;
  --bg-main: #171823;
  --bg-content: #25273d;
  --box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
  --gradient: linear-gradient(135deg, #3710bd 0%, #a42395 100%);
}

/* Global */

*::before,
*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
}

.app[data-theme] {
  background-color: var(--bg-main);
  position: relative;
  min-height: 100vh;
}

main {
  position: absolute;
  top: 4.8rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 32.7rem;
  width: 100%;
}

@media (min-width: 768px) {
  main {
    max-width: 54rem;
  }
}

@media (min-width: 1440px) {
  main {
    top: 3.6rem;
  }
}
