/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* Variables */

:root {
  --color-primary: #3a7cfd;
  --font-primary: "Josefin Sans", sans-serif;
  --color-white: #ffffff;
  --border-radius: 0.5rem;
}

[data-type="light"] {
  --color-done: #d1d2da;
  --color-text-primary: #494c6b;
  --color-text-secondary: #9495a5;
  --color-text-decondary-hover: #494c6b;
  --bg-main: #fafafa;
  --bg-content: #ffffff;
  --border: #979797;
  --box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  --gradient: linear-gradient(135deg, #55ddff 0%, #c058f3, 100%);
}

[data-type="dark"] {
  --color-text-primary: #e3e4f1;
  --color-text-secondary: #5b5e7e;
  --color-text-secondary-hover: #d1d2da;
  --color-done: #4d5067;
  --bg-main: #171823;
  --bg-content: #25273d;
  --border: #393a4b;
  --box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
  --gradient: linear-gradient(135deg, #3710bd 0%, #a42395 100%);
}

/* Global */

*::before,
*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
}

.app[data-theme] {
  position: relative;
}

main {
  position: absolute;
  top: 4.8rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 32.7rem;
  width: 100%;
}
